{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <input id="pac-input" class="form-control" type="text" placeholder="Search Box"/>
            </div>
        </div>

        <div class='row'>
            <div id="googleMap" ></div>
        </div>

    </div>








{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdKZUZzkwOXBHm0SXPz4GGKyA7i4MWLT8&callback=initMap&libraries=places">
    </script>
    <script src="{{ asset('map.js') }}"></script>

    <script>
                $(document).ready(function () {
                    loadData({{ locations | raw }});
                });
    </script>
{% endblock %}



